/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* stylelint-enable */

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125*/
  line-height: 1.333333333333333em; /* 24 / 18 = 1.333333333333333em*/
}

body {
  color: #EEE;
  background: #BB6444;
}

nav {
  display: flex;
  color: #449BBB;
  flex-direction: column;
  background: #EEE;
  border: solid;
  border-color: rgba(20, 20, 20);
}

h1,
h2,
h3,
h4 {
  color: #EEE;
  padding: 1.555555555555556em; /* 28 / 18 = 1.555555555555556*/
}

h1 {
  background: rgba(20, 20, 20);
  font-size: 1.333333333333333em; /* 24 / 18 = 1.333333333333333 */
  line-height: 1em; /* 24 / 24 = 1*/
}

h2 {
  font-size: 1.222222222222222em; /* 22 / 18 = 1.222222222222222*/
  line-height: 1.090909090909091em; /* 24 / 22 = 1.090909090909091*/
}

li {
  list-style: circle;
}

img {
  max-width: 100%;
}

figure {
  position: relative;
  padding-top: 0.6666666666666667em /* 12 / 18 = 0.6666666666666667*/;
  padding-bottom: 0.6666666666666667em /* 12 / 18 = 0.6666666666666667*/ ;
}

figcaption {
  max-width: 100%;
  color: #EEE;
  background: rgba(20, 20, 20);
}

footer {
  background: rgba(20, 20, 20);
}

ul {
  padding: 1.555555555555556em /* 28 / 18 = 1.555555555555556*/;
}

p {
  padding: 1.555555555555556em /* 28 / 18 = 1.555555555555556*/;
}

#resume-content h3 {
  background: rgba(20, 20, 20);
  border-bottom: solid;
  border-color: #EEE;
}

.programs h2 {
  background: rgba(20, 20, 20);
  border-bottom: solid;
  border-color: #EEE;
}


/* Begin site styles below */


@media screen and (min-width: 46.875em) { /* 750 / 16 = 46.875*/

  figcaption {
    color: #EEE;
    background: #449BBB;
  }

  .programs {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 33%;
  }
}

@media screen and (min-width: 62.5em) { /* 1000 / 16 = */
  #education ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
